# This is a sample .env file for use in local development.
# Duplicate this file as .env here

# Your Private key
PRIVATE_KEY="0x your key here"

# Hosted Aggregator Node (JSON-RPC Endpoint). This is Arbitrum Goerli TestnET.
ARBGOERLI_RPC="https://goerli-rollup.arbitrum.io/rpc"

# Ethereum RPC; i.e., for Goerli https://goerli.infura.io/v3/<your infura key>
GOERLI_RPC=""

# Gnosis RPC; i.e., for Chiado https://rpc.chiadochain.net
CHIADO_RPC="https://rpc.chiadochain.net"

# There seems to be a bug with hardhat-deploy's implementation of etherscan-verify
# If ETHERSCAN_API_KEY is set, it overrides any hardhat configuration.
ETHERSCAN_API_KEY_FIX=
ARBISCAN_API_KEY=

# Optional logging options
LOG_LEVEL=info
